@import 'navbar-base';
@import 'navbar-theme';

mc-navbar {
    display: flex;
}

.mc-navbar {
}

.mc-navbar_horizontal {
    position: relative;
    height: var(--mc-navbar-size-height, $navbar-size-height);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    [mc-icon] + mc-navbar-title {
        margin-left: var(--mc-navbar-size-icon-margin-left, $navbar-size-icon-margin);
    }

    [mc-icon] {
        min-width: 16px;
        min-height: 16px;
    }

    mc-navbar-title:not(.mc-navbar-collapsed-title) + [mc-icon] {
        margin-left: var(--mc-navbar-size-icon-margin-left, $navbar-size-icon-margin);
    }
}

.mc-navbar_vertical {
    flex-direction: column;

    height: auto;

    & .mc-navbar-container {
        flex-direction: column;
        align-items: unset;
    }
}

mc-navbar-container, .mc-navbar-left, .mc-navbar-right {
    @extend %mc-navbar-container-base;
}

mc-navbar-item, .mc-navbar-item, .mc-navbar-title, mc-navbar-item:first-child {
    @extend %mc-navbar-item-base;
}

.mc-navbar-title {
    @extend %mc-navbar-title-base;
}

mc-navbar-brand, .mc-navbar-brand {
    @extend %mc-navbar-brand-base;
}

.mc-navbar-item:not([disabled]) {
    cursor: pointer;
}

mc-navbar-brand, .mc-navbar-item .mc-navbar-title {
    padding: 0;
}

mc-navbar-item.mc-progress:not([disabled]) {
    cursor: pointer;
}

mc-navbar-item[disabled] .mc-navbar-item, .mc-navbar-item[disabled] {
    /*It is controversially. Works fine but cannot be tested*/
    /*pointer-events: none;*/
    cursor: default;
}

mc-navbar-title.mc-navbar-collapsed-title {
    display: none;
}
