@import 'navbar-base';
@import 'navbar-theme';

mc-navbar {
    display: flex;
}

.mc-navbar {
    display: flex;
}

.mc-navbar_horizontal {
    position: relative;
    height: var(--mc-navbar-size-height, $navbar-size-height);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    [mc-icon] + mc-navbar-title {
        margin-left: var(--mc-navbar-size-icon-margin-left, $navbar-size-icon-margin);
    }

    [mc-icon] {
        min-width: 16px;
        min-height: 16px;
    }

    mc-navbar-title:not(.mc-navbar-collapsed-title) + [mc-icon] {
        margin-left: var(--mc-navbar-size-icon-margin-left, $navbar-size-icon-margin);
    }
}

.mc-navbar_vertical {
    flex-direction: column;
    justify-content: space-between;

    height: auto;

    & .mc-navbar-container {
        flex-direction: column;
        align-items: unset;
    }

    &.mc-navbar_closed {
        width: 48px;
    }

    &.mc-navbar_opened {
        width: 240px;
    }
}

.mc-navbar-item.mc-navbar-item_vertical,
.mc-navbar-brand.mc-navbar-brand_vertical {
    height: 48px;
}

.mc-navbar-container.mc-navbar-left,
.mc-navbar-container.mc-navbar-right {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.mc-navbar-toggle {
    height: 48px;
}

.mc-navbar-item,
.mc-navbar-title,
mc-navbar-item:first-child {
    @extend %mc-navbar-item-base;
}

.mc-navbar-title {
    white-space: nowrap;
}

.mc-navbar-brand {
    @extend %mc-navbar-item-base;

    padding-left: 0;
    padding-right: var(--mc-navbar-brand-size-padding, $navbar-brand-size-padding);
    margin-right: var(--mc-navbar-brand-size-margin-right, $navbar-brand-size-margin-right);

    .mc-navbar-title {
        padding-left: var(--mc-navbar-brand-size-padding, $navbar-brand-size-padding);
        padding-right: 0;
    }

    &.mc-navbar-brand_closed {
        align-items: center;
        justify-content: center;

        padding: 0;
        margin: 0;

        & .mc-navbar-title {
            display: none;
        }
    }
}

.mc-navbar-item.mc-navbar-item_closed .mc-navbar-title {
    display: none;
}

.mc-navbar-item:not([disabled]) {
    cursor: pointer;
}

.mc-navbar-item .mc-navbar-title {
    padding: 0;
}

mc-navbar-item.mc-progress:not([disabled]) {
    cursor: pointer;
}

mc-navbar-item[disabled] .mc-navbar-item,
.mc-navbar-item[disabled] {
    /*It is controversially. Works fine but cannot be tested*/
    /*pointer-events: none;*/
    cursor: default;
}

mc-navbar-title.mc-navbar-collapsed-title {
    display: none;
}
